[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
dapp = "EDFwnAysttkv5TW7davfHDuFctxnZxNRb8WCU2AVf7um"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
init-library = "yarn run ts-node scripts/init_library.ts"
start-auction = "yarn run ts-node scripts/start_auction.ts"
mint-nft = "yarn run ts-node scripts/mint_nft.ts"
bid-nft = "yarn run ts-node scripts/bid_nft.ts"


test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.spec.ts --color -w --watch-files '**/*.spec.ts'"
